#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
DEB_CFLAGS_MAINT_APPEND =
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	DEB_CFLAGS_MAINT_APPEND += -O0
else
	DEB_CFLAGS_MAINT_APPEND += -O2
endif
ifeq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	DEB_CFLAGS_MAINT_APPEND += -D NDEBUG -g
endif
export DEB_CFLAGS_MAINT_APPEND
# package maintainers to append LDFLAGS
export DEB_LDFLAGS_MAINT_APPEND = -Wl,-z,defs


%:
	dh $@  --with autotools_dev,autoreconf

override_dh_autoreconf:
	dh_autoreconf --as-needed

# For Ubuntu-10 compatibility
override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_installdocs:
	dh_installdocs -A -X.in
